header {
    position: fixed;
    width: 100%;

    padding: 5px;

    background-color: transparent;
    z-index: 999;

    #navigation {
        background-image: linear-gradient(to right, #1a4414, #e1388a);

        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar-brand img {
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }

        .navbar-nav .nav-item {
            margin-right: 20px;
        }
    }
}

main {
    background-color: transparent;

    .bg-image {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        background-image: url("assets/images/background.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        z-index: -1;
        opacity: 0.6;
    }

    #content {
        overflow-y: scroll;
        scroll-snap-type: y proximity;
        position: relative;
        z-index: 1;
    }

    .page {
        min-height: 100vh;
        scroll-snap-align: center;
        display: flex;
        align-items: center;
    }
}

footer {
    position: fixed;
    bottom: 0%;
    width: 100%;

    background: linear-gradient(to right, #1a4414, #e1388a);

    display: flex;
    flex-direction: column;
    align-items: center;
    
    z-index: 999;
    opacity: 0.8;
}

footer .social-icons {
    margin-bottom: 0%;
}

footer .social-icons a {
    display: inline-block;
    margin: 5px;
}

footer .social-icons img {
    width: 35px;
}

footer p {
    text-align: center;
    color: white;
}