/* style.css */

header {
    background-color: transparent;
    padding: 10px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-brand img {
    height: 50px;
    border-radius: 50%; 
    object-fit: cover;
  }
  
  .navbar-nav .nav-item {
    margin-right: 10px;
  }
  
  #content {
    padding: 20px;
    text-align: center;
  }
  
  





