#home.page {
  padding-top: 20px;
}

.welcome-logo {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.logo-circle {
  margin-top: -10px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.logo-circle:hover {
  transform: scale(1.1);
}

.typewrite {
  padding-top: 40px;
  color: #00fff2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}

#introduction.page {
  padding-top: 20px;

  #myinfo {
    margin-top: 20px;
    display: flex;
    position: relative;
    align-items: center;
    top: 100px;
  }

  #personal-card {
    margin-top: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 300px;
    background-image: linear-gradient(to right, #1a4414, #e1388a);
    color: white;
  }
  

  .card-img-top {
    padding-top: 20px;
    height: auto;
    max-height: 200px;
    width: 100%;
    object-fit: contain;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
  }

  .card-text {
    margin-bottom: 0;
    color:white;
  }

  .row{
    color: white;
  }

}

#projects.page {
  padding: 10px;

  .card.text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }

  .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-animation: fadein 4s linear forwards;
    animation: fadein 4s linear forwards;
  }
}

#contact.page {
  padding: 10px;

  .container-fluid {
    display: flex;
    justify-content: space-between;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  .text {
    padding: 120px;
    font-family: "Arial", sans-serif;
    color: #022222;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  #soicalApps {
    align-items: center;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}